<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>React Wearables</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
</head>

<body>
    <div class="container-fluid">
        <div class="col-md-6">
            <h1>INTENSITY</h1>
            <p class="direction" id="intensity">-</p>
        </div>
        <div class="col-md-6">
            <h1>WALKING DIRECTION</h1>
            <p class="direction" id="direction">FORWARD</p>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ url_for('static',filename='main.js') }}"></script>
</body>
</html>
